html, body{
	width: 100%;
	margin: auto;
	background: #CC95C0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.content{
	border: 2px solid black;
	border-radius: 20px;
	margin: 10px 100px;
	padding: 20px;
}

.text{
	font-size: 30px;
}